node_modules/
.next/
dist/
coverage/
.env
.env.*
.env.local
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/.vscode/
/.idea/
*.local
resellq.db
.DS_Store
Thumbs.db
/*.log
/.turbo